<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>654846409027-kplc92duo7ko4rtka9fb0bkt9mnia7o7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.654846409027-kplc92duo7ko4rtka9fb0bkt9mnia7o7</string>
	<key>API_KEY</key>
	<string>AIzaSyBBNhOKDRtLVvhfmyuhG_X5eQ0JVF6HJTE</string>
	<key>GCM_SENDER_ID</key>
	<string>654846409027</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.reddit</string>
	<key>PROJECT_ID</key>
	<string>reddit-clone-4b6a9</string>
	<key>STORAGE_BUCKET</key>
	<string>reddit-clone-4b6a9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:654846409027:ios:7c1d1061e23360c98917f6</string>
</dict>
</plist>